<!DOCTYPE html>
<html>
  <head>
    <title>Blackboxradio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <h1>Hello <%= current_user.username %> !</h1>
      <%= button_to "Logout", '/logout', method: :delete%>
      <p>
        <%= link_to 'Home', root_path %><br/>
        <%= link_to 'Add Tweet', new_tweet_url %><br/>
        <%= link_to 'Drafted Tweet', tweets_drafts_url %><br/>
      </p>
    <%end%>

    <%= yield %>
  </body>
</html>
